<h1>菜單頁面</h1>

<%= link_to "新增菜單" , new_store_menu_path %>                                                                                                                                                                                                                             