<% if resource.errors.any? %>
  <div id="error_explanation" class="flex justify-center">
    <ul class="text-center text-sm text-white py-2 bg-red-400 rounded-md w-1/2">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>