<div class="h-full">
  <div class="text-center pt-5">
    <h2 class="text-3xl font-bold text-maingray">新增店家頁面</h2>
    <span class="text-md text-maingray">Welcome Wechef</span>
  </div>
  
  <%= render "form", store: @store %>
</div>

