<header class="flex flex-shrink-0">
  <div class="flex items-center w-full p-3 bg-maingray md:px-6">
    <nav class="w-full  flex">
      <button class="flex items-center mx-auto w-48 h-7 mr-4">
        <img src="/photo/wechef-logo-nbg.png" class="mr-2" alt="WeChef Logo" style="aspect-ratio:auto">
      </button>
      <div class="flex w-full justify-end ">
        <div class="inline-block">
          <%= link_to '關於我們' ,"#" ,class:"px-3 py-2 font-medium leading-none text-white rounded-lg hover:bg-gray-400 text-md"%>
        </div>
        <div class="inline-block">
          <%= link_to "聯絡我們" ,"#" ,class:"px-3 py-2 font-medium leading-none text-white rounded-lg hover:bg-gray-400 text-md"%>
        </div>
        <div class="inline-block">
          <%= link_to "回首頁" , root_path ,class:"px-3 py-2 font-medium leading-none text-white rounded-lg
               hover:bg-gray-400 text-md"%>
        </div>
      </div>
    </nav>
  </div>
</header>