<div class="h-full">
  <div class="text-center pt-2 md:pt-5">
    <h1 class="text-3xl font-bold text-maingray pb-2">新增分類</h1>
  </div>
  <%= render "form", store: @store, classification: @classification %>
</div>


